<!DOCTYPE HTLM PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Login</title>
</head>

<body>
	<h1><i>Log-in:</i></h1>

	<hr>	
	{{state}}
	
	<form action="." method="post">{% csrf_token %}
		{% if next %}
			<input type="hidden" name="next" value="next"></input>
		{% endif %}
		username:
			<input type="text" name="username" value={{username}}></input>
		<br>
		password:
			<input type="text" name="password" value=""></input>
		<br>
		<br>
		<input type="submit" value="Log In"></input>
	
	</form>

	<hr>
	<h3>Links:</h3>

	</ul>
		<li><a href="/">Homepage</a></li>
	</ul>

</body>
</html>