<!DOCTYPE HTLM PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Employer Registration</title>

</head>

<body>
	<h1><i>Registration: Employer</i></h1>

	<hr>
	<form action="." method="post">
		{{form.as_p}}
		<input type="submit" value="Register"></input>
		
		<h4>To ALL "Off-Campus" Employers:</h4>
		<h5>Your account will be reviewed by one of our admins.</h5>
		<h5>You will be contacted by our department when deemed worth</h5>
			
			
	<hr>
	<h3>Links:</h3>

	</ul>
		<li><a href="/">Homepage</a></li>
	</ul>

</body>
</html>