<!DOCTYPE HTLM PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Student Degree Update</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

</head>

<body>
	<h1><i>Student: Degree Update</i></h1>

	<hr>

		<h5>Current Degree:</h5>	
		<p>{{degree.degree}}</p>
		<h5>Current University:</h5>	
		<p>{{degree.university}}</p>
		<h5>Current Major:</h5>	
		<p>{{degree.major}}</p>
		<h5>Current Date of Completion:</h5>	
		<p>{{degree.date}}</p>		
		<h5>Clicking submit will change your resume body.</h5>

	
		<form action="." method="post">
			{{form.as_p}}
			<input type="submit" value="Submit"></input>
	
			
	<hr>
	<h3>Links:</h3>

	</ul>
		<li><a href="/student/portal/">Student Portal</a></li>
	
		<br>
		<li><i>Account Settings:</i></li>
		<li><a href="/student/resumeCreate/">Create/Update A Resume</a></li>
		
		<li><a href="/student/degreeHome/">Manage Degrees {Current Page}</a></li>
		
		<br>
		<li><i>Search Options:</i></li>
		<li><a href="/employer/search/">Search For An Employer</a></li>
		<li><a href="/jobs/search/">Search For A Job</a></li>
		
		<br>
		<li><a href="/">Homepage</a></li>
		<li><a href="/logout/">Logout</a></li>
		
	</ul>

</body>
</html>